#header-logo {
  display: inline;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#header-title {
  display: inline;
  margin-left: 5px;
}

body {
  font-size: 1.3em;
}

.container {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.blueBack {
  background-image: -moz-linear-gradient(135deg, #5b86a8, #9198e5);
}

#card1 {

}

.teamCard {
  width: 18rem;
}

.card-img-top {
  width: content;
  height: auto;
}

/* .card {
  border: 0px;
  background-image: -moz-linear-gradient(#e2ed4d, #f4ff64);
  background-image: -webkit-linear-gradient(#e2ed4d, #f4ff64);
} */
